<mat-toolbar>
  <span>4. LÓGICA</span>
</mat-toolbar>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle
      >Descubra a lógica e complete o próximo elemento:</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-actions>
    <p style="color: white">
      a) 1, 3, 5, 7, <span style="color: yellow">9</span> <br />
      b) 2, 4, 8, 16, 32, 64, <span style="color: yellow">128</span><br />
      c) 0, 1, 4, 9, 16, 25, 36, <span style="color: yellow">49</span> <br />
      d) 4, 16, 36, 64, <span style="color: yellow">100</span> <br />
      e) 1, 1, 2, 3, 5, 8, <span style="color: yellow">13</span><br />
      f) 2,10, 12, 16, 17, 18, 19, <span style="color: yellow">200</span>
    </p>
  </mat-card-actions>
</mat-card>

<mat-toolbar>
  <span>5. LÓGICA</span>
</mat-toolbar>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle
      >Você está em uma sala com três interruptores, cada um conectado a uma
      lâmpada em salas diferentes. Você não pode ver as lâmpadas da sala em que
      está, mas pode ligar e desligar os interruptores quantas vezes quiser. Seu
      objetivo é descobrir qual interruptor controla qual lâmpada. Como você
      faria para descobrir, usando apenas duas idas até uma das salas das
      lâmpadas, qual interruptor controla cada lâmpada?</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-actions style="color: yellow">
    Resposta: Antes de ir para uma das salas, ligo longamente o primeiro
    interruptor para que a lâmpada fique quente, depois desligo o primeiro
    interruptor e ligo o segundo e vou rapidamente para a primera sala. Daí vou
    ter 3 opções: que a lâmpada esteja acesa, apagada e fria ou apagada e quente
    e com isso descubro uma das conexões. Na segunda ida, ligo apenas o terceiro
    interruptor e vou pra segunda sala para descobrir as duas conexões que
    faltam.
  </mat-card-actions>
</mat-card>
